@import url('https://fonts.googleapis.com/css?family=PT+Sans&display=swap');

:root{
	--color-text-default: hsla( 0, 0%, 20%, 1 );
	--color-border: hsla( 0, 0%, 65%, 1 );
	--color-background: hsla( 0, 0%, 100%, 1 );

	--color-bundle-main: hsla( 0, 0%, 50%, 1 );
	--color-bundle-secondary: hsla( 120, 80%, 70%, 0.4 );
	--color-coffee: hsla( 22, 78%, 64%, 1 );
	--color-item: hsla( 200, 70%, 40%, 1 );

	--size-radius-default: 0.5rem;
}

html{
	box-sizing: border-box;
	color: var( --color-text-default );
	font-family: 'PT Sans', sans-serif;
}

html *{
	box-sizing: inherit;
}

body{
	height: 100vh;
	margin: 0;
	min-width: 21.6rem;
	padding: 0;
}

body > #app{
	height: calc( 100vh - 2.25em );
}
